:root {
  --baseTypo: 24px;
  --baseBlue: rgb(38, 57, 119);
  --baseOrange: rgb(245, 194, 55);
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 4fr;
  box-sizing: border-box;
  margin: 0;
}

.header-wrapper {
  background-color: var(--baseBlue);
  box-shadow: 0px 1px 10px 1px;
  z-index: 1;
}

.sun-icon {
  height: 140px;
  width: 140px;
}

.app-title {
  margin-top: 0%;
  font-size: var(--baseTypo);
  font-size: 1.8em;
  color: var(--baseOrange);
  font-weight: bold;
  text-align: center;
  line-height: 0.7em;
}

.header-icon-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 200px;
  background-color: var(--baseBlue);
}

/*main section*/

.main-wrapper {
  /*background: url("img/sunny-background.jpg");*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -250px;
  display: grid;
  grid-template-rows: 1fr 7fr;
}

/*Search bar section*/

.search-bar-wrap {
  margin-top: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar {
  flex-grow: 0;
  height: 50%;
  border-radius: 16px;
  width: 400px;
  font-size: 24px;
  z-index: 1;
}

button {
  margin: 5px;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border-width: 1px;
}
/*weather display section*/

.weather-display {
  display: grid;
  grid-template-columns: repeat(5, 4fr);
  padding: 0px 50px 0px 50px;
  height: 100%;
  box-sizing: border-box;
}

.day-card {
  background-color: rgba(245, 245, 220, 0.349);
  margin: 20px;
  height: 90%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.card-icon {
  height: 30%;
  width: 60%;
}

.weather-status-field {
  margin: 0%;
  padding: 0%;
}

.temp-wrap {
  height: auto;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.temp-inner-wrap {
  display: flex;
  align-items: center;
}

.temp-field {
  margin: 40px 0% 40px 0%;
  font-size: 4em;
  width: auto;
  padding: 0%;
  height: auto;
}

.degrees {
  height: 4em;
  display: flex;
}

.temp-felt {
  margin: 0%;
  font-size: em;
}

.rain-prob-icon {
  height: 100%;
  width: 100%;
  margin: 0%;
}

.rain-prob-wrap {
  display: flex;
  justify-content: center;
  padding: 0%;
  margin-top: auto;
  height: 10%;
  width: 20%;
}
