:root {
  --baseTypo: 24px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  display: grid;
  grid-template-rows: 1fr 4fr;
  box-sizing: border-box;
  margin: 0;
}

.header-wrapper {
  background-color: red;
}

.main-wrapper {
  background-color: azure;
}

.sun-icon {
  height: 140px;
  width: 140px;
}

.header-icon-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 200px;
  background-color: rgb(39, 183, 250);
}

.app-title {
  margin-top: 0%;
  font-size: var(--baseTypo);
  background-color: orange;
}

/*main section*/

.main-wrapper {
  display: grid;
  grid-template-rows: 1fr 7fr;
}

/*Search bar section*/

.search-bar-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.search-bar {
  flex-grow: 0;
  height: 50%;
  border-radius: 16px;
  width: 400px;
  font-size: 24px;
}

button {
  margin: 5px;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border-width: 1px;
}
/*weather display section*/

.weather-display {
}
